
.App {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
}

.book {
  margin-top: 50px;
  text-align: center;
}

#head {
  background-color:#ADAC9C;
  padding: 10px;
  padding-right: 0;
  box-sizing: border-box;
  width: 520px;
  margin: 0px;
}

.date {
  font-weight: 200;
  font-size: .75em
}

.green {
  color: #5B7200
}

.red {
  color: #D3193B
}

.tableContainer {
  width: 540px;
  padding: 0;
  margin: 0;
  max-height: 600px;
  min-height: 600px;
  overflow: scroll;
}

table {
  width: 450px;
  border-spacing: 0;
  max-height: 600px;
  min-height: 600px;
}

.row {
  font-size: 15px;
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
}

tr:nth-child(even) {
  background: #F4F2E6
}

tr:nth-child(odd) {
  background: #FCFBF4
}

td {
  max-width: 260px;
  min-width: 260px;
  padding-right: 50px;
  box-sizing: border-box
}

.middleDisplay {
  min-height: 45px;
  padding: 11px 0;
  box-sizing: border-box;
  background-color: #D3D2BE;
  width: 520px;
  font-size: 2em;
}

.middleDisplay span {
  margin-left: 30px
}

.size {
  text-align: right;
}


















