.App {
  display: flex;
  justify-content: center;
  padding: 10vh 0;
  width: 100vw;
  background-color: #041d44;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.book {
  width: 50vw;
  text-align: center;
}

th {
  height: 30px;
  padding: 10px 0;
}

#head {
  background-color: lightgray;
}

#mid {
  height: 50px;
  padding-top: 0px
}

table {
  width: 520px;
}

td {
  max-width: 260px;
  min-width: 260px;
}

.date {
  font-weight: 200;
  font-size: .85em
}

.size {
  text-align: right;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white
}

.percent {
  background-color: lightgreen;
  float: right;
  position: relative;
  right: 2px;
}

