.App {
  display: flex;
  justify-content: center;
  padding: 5vh 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #041d44;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.book {
  width: 50vw;
  text-align: center;
}

th {
  height: 30px;
  padding: 10px 0;
  /* display: inline-block */
}

#head {
  background-color: lightgray;

}

#middleDisplay {
  height: 50px;
  padding-top: 0px;

}

#mid-price {

}

#mid-change {

}

.green {
  color: green
}

.red {
  color: red
}

table {
  width: 520px;
  border-spacing: 0
}

td {
  max-width: 260px;
  min-width: 260px;


}

.row {
  /* font-size: 10px; */
  margin: 0
}

.date {
  font-weight: 200;
  font-size: .85em
}

.size {
  text-align: right;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;


}

.percent {
  background-color: lightgreen;
  float: right;
  position: relative;
  right: 2px;
}

